.section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .records {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 16px;
  }
}
