.verbSettings {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .radios {
    display: flex;
    gap: 24px;
    align-items: flex-end;

    .radioContainer {
      display: flex;
      flex-direction: column;
    }
  }

  .checkPhrasalBase {
    display: flex;
    align-items: flex-end;

    .inputContainer {
      display: flex;
      flex-direction: column;

      .input {
        width: 200px;
      }
    }
  }
}
