.shortTranslationsPreview {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .translation {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .title {
    font-weight: 500;
  }

  .desc {
    display: flex;
    gap: 4px;
  }

  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
  }

  .variantsOfWord {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}
