.shortTranslation {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .nextButton {
    width: max-content;
  }

  .variantsOfWords {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    background: var(--third-background);
  }
}
