.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;

  .loginContent {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
  }
}