.loginHeader {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  width: 100%;
  padding: 0 16px;
  align-items: center;
  background-color: var(--color-bg-container);

  .rightPart {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
