.inputsAndButton {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;

  .firstLine {
    display: flex;
    gap: 6px;
    align-items: flex-end;

    .select {
      width: 80px;
    }

    & > div:first-child {
      flex-grow: 1;
    }
  }
}
