.own {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block-start: 16px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  h3 {
    margin: 0;
  }
}
