.sideMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  min-width: 200px;
  background-color: var(--surface-300);
  border-radius: 16px;

  .menuItems {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
