.mainContent {
  display: flex;
  flex-grow: 1;
  padding: 24px;
  width: calc(100vw - var(--side-menu-width));
  overflow: hidden;
}

.mainPage {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
