.wordCard {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .mainTag {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
  }

  .tag {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    :global(.ant-typography) {
      font-size: var(--ant-font-size-sm);
      font-weight: 400;
    }
  }

  .line {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
