.subFormsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .subForms {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--main-background);

    & > * {
      flex-grow: 1;
    }
  }

  .nextButton {
    width: max-content;
  }
}
