.shortTranslation {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    display: flex;
    gap: 8px;
    align-items: flex-end;
  }

  .nextButton {
    width: max-content;
  }

  .variants_of_words {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--third-background);

    .subtitle {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
