.addWordForm {
  display: flex;
  gap: 12px;
  padding-top: 16px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .selectedWordTitle {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .leftContainer {
    width: 200px;
    .steps {
      align-items: flex-start;
      width: 200px;
    }
  }

  .content {
    width: calc(100% - 200px - 12px);
  }
}
