.addWordForm {
  display: flex;
  gap: 12px;
  padding-top: 16px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .selectedWordTitle {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }

  .leftContainer {
    width: 200px;
    .steps {
      align-items: flex-start;
      width: 200px;
    }
  }

  .content {
    width: calc(100% - 200px - 12px);
  }

  .firstLine {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .wordInput {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .posSelect {
      width: 132px;
      border-radius: 0;
    }

    .checkButton {
      border-left: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .submitButton {
    margin-top: 12px;
    width: max-content;
  }
}
