.meaningTranslation {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  margin-inline-start: 8px;
  width: calc(100% - 8px);
  padding-inline-start: 4px;
  border-inline-start: 4px solid red;

  .iconBtn {
    height: 18px;
    width: 22px;
  }
}
