.card {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 600px;
  align-items: center;

  h1,
  h3 {
    text-align: center;
    margin: 0 !important;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 280px;
    width: 100%;
  }
}
